



  body
  {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;

  }

  #bg1
  {
    background-image: url("p1.1.jpg");
    background-size:100% 80%;
    background-repeat: no-repeat;
    padding: 0px;
    margin-top:0px;
  }
  #rowbg
  {
    background-color:rgba(0,0,0,0.5);
    height:872px;
    width:100%;
    margin:0px;
  }


.sectiontr
{
  background-color:rgb(255,204,51);
  margin-top:50px;
  margin-bottom:50px;
}
.sectionstruct
{
  //background-color: rgb(24,188,156);
//  background-color: black;
  height:950px;
}

.container-fluid
{
  padding: 0px;
}

  .navbar
  {
    margin-bottom:0px;
    background-color:rgb(255,204,51);
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }

  .navbar li a, .navbar .navbar-brand
  {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a
   {
      color: black !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle
   {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon
   {
    font-size: 50px;
    margin-bottom: 20px;
    color:rgb(255,204,51);
  }
  .slideanim
  {
    visibility:hidden;
  }
  .slide
   {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }


#covertext
{
  color: #fff;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  margin: 60px 50px;
}

#textsection
{
  margin-top:50px;
  padding: 50px;
  color: black;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#Project .well a
{
  text-decoration: none;
  color: black;

}

/* Add shadows on hover */
#Project .well:hover
 {
    box-shadow: 0 8px 12px 0  black;
}

#resume .btn
{
  padding: 40px;
  color:black;
  font-size: 20px;
  margin-top: 200px;
}

#resume .btn:hover
{
  color:rgb(255,204,51);
  background-color: black;

}
#resume .btn a:hover
{
  text-decoration: none;
  //color:rgb(255,204,51);

  color: rgb(13,175,74);
}
.cvheader
{
background-color: rgba(149, 204, 46, 0.8);
 color:black;
 width: 100%;
 height: 70px;
 padding:20px;
 font-size:25px;

}

.cvinfo
{
	margin-top:40px;
	padding-bottom:20px;
	font-family:sans-serif,Verdana;
	font-size:20px;
	color:black;
}

#contact a:hover
{
  border: 1px solid black;
}


/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px)
 {
    .well
     {
        //width: 80%;
        //height: 50%;
    }
}

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }

  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }

  }
  @media screen and (max-width:513px)
  {
    #covertext
    {
      font-size:15px;
    }
  }

  @media screen and (max-width:784px)
  {
    .img-responsive
    {
      width: 150px;
      height: 150px;
    }
  }

  @@media screen and (max-width:400px)
  {
    .well
    {
      font-size: 11px;
    }

  }
  @media screen and (max-width:380px)
  {
    #covertext
    {
      font-size:10px;
    }
  }

  @media screen and (min-width:1400px)
   {
    #bg1
    {
        background-size:100% 86%;
    }
    #rowbg
    {
      height: 935px;
    }
.sectiontr
    {
      margin-top: 110px;
      margin-bottom: 100px;
    }
  }


  @media screen and (max-width:1024px)
  {
    #bg1
    {
      //  background-size:100% 65%;
    }
    #rowbg
    {
    //  height: 710px;
    }

  }
